pages/Sample.html
pages/template.html
exclude/to-remember.md
exclude/page-tree.md
exclude/topics-to-create.md
TechieNicks.mp4
.gitignore
# Local Netlify folder
.netlify
downloads/Git-Cheat-Sheet.docx
downloads/Git-Cheat-Sheet1.pdf
.gitattributes