 .u-section-1 {
  background-image: none;
  min-height: 642px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 677px);
  left: 0;
  right: auto;
}

.u-section-1 .u-image-1 {
  width: 1120px;
  height: 517px;
  margin: 0 calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 233px;
  margin: -112px auto 0 calc(((100% - 1140px) / 2) + 61px);
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 30px 30px;
  min-height: 201px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 17px 30px 24px;
}

.u-section-1 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-group-1 {
  width: 351px;
  min-height: 198px;
  background-image: none;
  height: auto;
  margin: -527px calc(((100% - 1140px) / 2) + -58px) 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-2 {
  width: 175px;
  height: 175px;
  margin: 5px auto 0 5px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -159px 0 0 170px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1013px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 677px);
  }

  .u-section-1 .u-image-1 {
    width: 726px;
    height: 614px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-list-1 {
    margin-top: -29px;
    margin-left: calc(((100% - 940px) / 2) + 61px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  }

  .u-section-1 .u-group-1 {
    width: 402px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 169px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2057px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 470px);
  }

  .u-section-1 .u-image-1 {
    width: 586px;
    height: 534px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 542px;
    height: auto;
    margin-top: 73px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1364px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 470px);
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 493px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 511px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1981px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 352px;
    margin-left: auto;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 256px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 298px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 333px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}